#Python Basic 1
#Data Types and Structure

In [1]:
print("Hello World")

Hello World

In [2]:
print("Hello World","1234","DTS Data Science")

Hello World 1234 DTS Data Science

In [3]:
print("Hello World"+"1234"+"DTS Data Science")

Hello World1234DTS Data Science

In [4]:
type(11)

int

In [5]:
type(0.123)

float

In [6]:
type("contoh")

str

In [7]:
a = 11
b = 0.123
c = "Hello"

In [8]:
type(a)

int

In [9]:
type(b)

float

In [10]:
type(c)

str

In [11]:
float(2)

2.0

In [12]:
int(2.6)

2

In [13]:
int(0.678)

0

In [14]:
float("123")

123.0

In [15]:
str(567)

'567'

In [16]:
print('Hello World')
print("Hello World(1)")

Hello World
Hello World(1)

In [17]:
type(True)

bool

In [18]:
int(True)

1

In [19]:
int(False)

0

In [20]:
float(False)

0.0

In [21]:
float(True)

1.0

In [22]:
bool(1.0)

True

In [23]:
bool(1.2345)

True

In [24]:
bool(-5)

True

In [25]:
25/7

3.5714285714285716

In [26]:
25 // 7

3

In [27]:
28 / 9

3.111111111111111

In [28]:
28 // 9

3

In [29]:
3 + 3 * 5

18

In [30]:
(3 + 3) * 5

30

In [31]:
3 + 3 * 5 + 6 / 2

21.0

In [32]:
x = 200

In [33]:
type(x)

int

In [34]:
x = 200/7

In [35]:
type(x)

float

In [36]:
mytuple = (1,2,3,'AAA','BBB','CCC', 0.456, 0.987)

In [37]:
mytuple

(1, 2, 3, 'AAA', 'BBB', 'CCC', 0.456, 0.987)

In [38]:
type(mytuple)

tuple

In [39]:
mytuple[0]

1

In [40]:
print(mytuple[0])
print(mytuple[1])
print(mytuple[2])
print(mytuple[3])
print(mytuple[4])
print(mytuple[5])
print(mytuple[6])
print(mytuple[7])

1
2
3
AAA
BBB
CCC
0.456
0.987

In [41]:
print(mytuple[-1])
print(mytuple[-2])
print(mytuple[-3])
print(mytuple[-4])
print(mytuple[-5])
print(mytuple[-6])
print(mytuple[-7])

0.987
0.456
CCC
BBB
AAA
3
2

In [42]:
mytuple[0:4]

(1, 2, 3, 'AAA')

In [43]:
mytuple[5:7]

('CCC', 0.456)

In [44]:
mytuple[:8]

(1, 2, 3, 'AAA', 'BBB', 'CCC', 0.456, 0.987)

In [45]:
mytuple[5:]

('CCC', 0.456, 0.987)

In [46]:
len(mytuple)

8

In [47]:
mytuple2 = (1,2,3,4)

In [48]:
mytuple2

(1, 2, 3, 4)

In [49]:
mytuple3 = mytuple2

In [50]:
mytuple3

(1, 2, 3, 4)

In [51]:
mytuple2 = (4,5,6)

In [52]:
mytuple2

(4, 5, 6)

In [53]:
mytuple3 = (6,7,4,9,8)
mytuple3 = sorted(mytuple3)
mytuple3

[4, 6, 7, 8, 9]

In [54]:
type(mytuple3)

list

In [55]:
mytuple4 = (5,6,7,"DDD",(1,2),("CC","FF"))
mytuple[2:5]

(3, 'AAA', 'BBB')

In [56]:
mytuple5 = (1, mytuple2, mytuple3, "AA")
mytuple5

(1, (4, 5, 6), [4, 6, 7, 8, 9], 'AA')

In [57]:
mytuple5[1][2]

6

In [58]:
a = sorted(("B","A","FF","DD"))
a

['A', 'B', 'DD', 'FF']

In [59]:
L = [1,2,3,"AA","BB","CC"]
print(L)
L[3] = "ss"
print(L)

[1, 2, 3, 'AA', 'BB', 'CC']
[1, 2, 3, 'ss', 'BB', 'CC']

In [60]:
L.extend(["XX","YY",7,8,9])

In [61]:
L

[1, 2, 3, 'ss', 'BB', 'CC', 'XX', 'YY', 7, 8, 9]

In [62]:
L.append(["KK","LL",4,5])
print(L)

[1, 2, 3, 'ss', 'BB', 'CC', 'XX', 'YY', 7, 8, 9, ['KK', 'LL', 4, 5]]

In [63]:
del(L[0])
print(L)

[2, 3, 'ss', 'BB', 'CC', 'XX', 'YY', 7, 8, 9, ['KK', 'LL', 4, 5]]

In [64]:
del(L[0:3])
print(L)

['BB', 'CC', 'XX', 'YY', 7, 8, 9, ['KK', 'LL', 4, 5]]

In [65]:
"HARD ROCK".split()

['HARD', 'ROCK']

In [66]:
a = "aa, dd, ff, cc, hh, ss, pp, ll"
L2 =a.split(",")
print(L2)

['aa', ' dd', ' ff', ' cc', ' hh', ' ss', ' pp', ' ll']

In [67]:
L3 = L2
print(L2)
print(L3)
L2[2] = 'ww'
print(L2)
print(L3)

['aa', ' dd', ' ff', ' cc', ' hh', ' ss', ' pp', ' ll']
['aa', ' dd', ' ff', ' cc', ' hh', ' ss', ' pp', ' ll']
['aa', ' dd', 'ww', ' cc', ' hh', ' ss', ' pp', ' ll']
['aa', ' dd', 'ww', ' cc', ' hh', ' ss', ' pp', ' ll']

In [68]:
L4 = L2.copy()
print(L4)
print('-----------------------------------------------------')
L2[3] = 'UU'
print(L2)
print(L3)
print(L4)

['aa', ' dd', 'ww', ' cc', ' hh', ' ss', ' pp', ' ll']
-----------------------------------------------------
['aa', ' dd', 'ww', 'UU', ' hh', ' ss', ' pp', ' ll']
['aa', ' dd', 'ww', 'UU', ' hh', ' ss', ' pp', ' ll']
['aa', ' dd', 'ww', ' cc', ' hh', ' ss', ' pp', ' ll']

In [69]:
b = (2,3,4, "AA","BB","CC")
L5 =list(b)
print(L5)
type(L5)

[2, 3, 4, 'AA', 'BB', 'CC']

list

In [70]:
set1 ={1,2,3,4,5,6,7,3,3,4,4,2,2,7,8,7,9}
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [71]:
set2 = set(L4)
print(set2)

{'ww', ' ss', ' ll', 'aa', ' hh', ' dd', ' pp', ' cc'}

In [72]:
set2.add("zz")
print(set2)

{'ww', ' ss', ' ll', 'zz', 'aa', ' hh', ' dd', ' pp', ' cc'}

In [73]:
set3 = set2
print(set2)
print(set3)
print('-----------------------------------------')
set2.add("66")
print(set2)
print(set3)

{'ww', ' ss', ' ll', 'zz', 'aa', ' hh', ' dd', ' pp', ' cc'}
{'ww', ' ss', ' ll', 'zz', 'aa', ' hh', ' dd', ' pp', ' cc'}
-----------------------------------------
{'ww', ' ss', ' ll', 'zz', 'aa', ' hh', ' dd', ' pp', '66', ' cc'}
{'ww', ' ss', ' ll', 'zz', 'aa', ' hh', ' dd', ' pp', '66', ' cc'}

In [74]:
set2.remove("aa")
print(set2)

{'ww', ' ss', ' ll', 'zz', ' hh', ' dd', ' pp', '66', ' cc'}

In [75]:
set3

{' cc', ' dd', ' hh', ' ll', ' pp', ' ss', '66', 'ww', 'zz'}

In [76]:
a = set2.pop() #pop : menghilangkan elemen
print(a)
print(set2)

ww
{' ss', ' ll', 'zz', ' hh', ' dd', ' pp', '66', ' cc'}

In [77]:
set3

{' cc', ' dd', ' hh', ' ll', ' pp', ' ss', '66', 'zz'}

In [78]:
a = set3.pop()
print(a)
print(set3)
print(set2)

 ss
{' ll', 'zz', ' hh', ' dd', ' pp', '66', ' cc'}
{' ll', 'zz', ' hh', ' dd', ' pp', '66', ' cc'}

In [79]:
L5

[2, 3, 4, 'AA', 'BB', 'CC']

In [80]:
L5.pop(2) #Jika pop diberi indeks : menghilangkan elemen indeks tersebut

4

In [81]:
L5

[2, 3, 'AA', 'BB', 'CC']

In [82]:
L5.pop() #Jika hanya pop() : menghilangkan elemen terakhir
L5

[2, 3, 'AA', 'BB']

In [96]:
set2 = {"aa","ff","gg","hh"}
set2

{'aa', 'ff', 'gg', 'hh'}

In [98]:
set4 = {"aa","dd","gg","hh","xx"}
set4

{'aa', 'dd', 'gg', 'hh', 'xx'}

In [99]:
set5 = set2 & set4

In [100]:
print(set5)

{'gg', 'aa', 'hh'}

In [101]:
set6 = set2.union(set4)
print(set6)

{'ff', 'gg', 'aa', 'xx', 'dd', 'hh'}

In [102]:
"cc" in set2

False

In [103]:
"aa" in set2

True

In [104]:
set2.issubset(set6)

True

In [105]:
set5.issubset(set4)

True

In [109]:
set2.issuperset(set5)

True

In [112]:
set5.isdisjoint(set4)

False

In [114]:
set7 = {"11","22"}
print(set7)
print(set2)

{'11', '22'}
{'gg', 'aa', 'hh', 'ff'}

In [115]:
set2.isdisjoint(set7)

True

In [120]:
dict1 = {"k1":1234,"k2":2345,"k3":3456,"k4":4567} #dictionary

In [121]:
print(dict1)

{'k1': 1234, 'k2': 2345, 'k3': 3456, 'k4': 4567}

In [122]:
print(dict1["k1"])
print(dict1["k4"])

1234
4567

In [123]:
dict2 = {1:"Hello",2:"World",3:"Data",4:"Science"}

In [124]:
dict2[3]

'Data'

In [126]:
dict2 = {234:[1,2,3],32:"Hello World",12:(4,5,6,7,8)}

In [127]:
dict2[32]

'Hello World'

In [128]:
dict3 = {234:[1,2,3],32:"Hello World",12:(4,5,6,7,8),"k1":{1,2,3,4,5},"k2":[1,2]}

In [130]:
dict3["k2"]

[1, 2]

In [131]:
dict3.keys()

dict_keys([234, 32, 12, 'k1', 'k2'])

In [132]:
dict3.values()

dict_values([[1, 2, 3], 'Hello World', (4, 5, 6, 7, 8), {1, 2, 3, 4, 5}, [1, 2]])

In [133]:
dict3.popitem()

('k2', [1, 2])

In [138]:
dict3.get("k1")

{1, 2, 3, 4, 5}